.test {
  font-size: 50px;
  background-color: green;
  text-align: center;
  text-decoration: line-through;
}

p {
  font-family: sans-serif;
}

$center : 0 auto;
$width: 500px;
$height: 100px;

header {
  margin: $center;
  width: $width;
  height: $height/2;
  display: flex;
  justify-content: space-between;
   p {
     background-color: orange;
     width: $width/5;
     text-align: center;
     border: 2px solid black;
     border-radius: 15px;
     height: $height/5;
    }
}
